{{#if userLoggedIn}}
  <header class="small-header">
    <h1>Pluto</h1>
    <div class="header-actions">
      <button>Sign Out</button>
    </div>
  </header>
{{else}}
  <header class="large-header">
    <h1>Pluto</h1>
    <h2>Keeper of Time</h1>
  </header>
  <content class="login-content">
    <p>This app is designed to track hours worked in a day, and wether they are remote or onsite, and that's it. No extra bells or whistles.</p>
    {{#link-to 'sign-up'}}Sign Up{{/link-to}} or {{#link-to 'sign-in'}}Sign in{{/link-to}}
  </content>
{{/if}}
