<form>
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
    </li>
    <li>
      <label for="email">Email</label>
      <input type="text" name="email" id="email" />
    </li>
    <li>
      <label for="profile-url">Profile URL</label>
      <span class="hint">Only allows letters, numbers, and hyphens.</span>
      <input type="text" name="profile-url" id="profile-url" />
    </li>
  </ul>
  <button type="submit">Sign Up!</button>
</form>
