<header class="small-header">
  <h1>{{#link-to 'index'}}Pluto{{/link-to}}</h1>
</header>

<form id="signup-form" {{action 'signUp' on='submit'}}>
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="user[name]" id="name" />
    </li>
    <li>
      <label for="profile_url">Profile URL</label>
      <input type="text" name="user[profile_url]" id="profile_url" />
      <span class="hint">Only allows letters, numbers, and hyphens.</span>
    </li>
    <li>
      <label for="email">Email</label>
      <input type="text" name="user[email]" id="email" />
    </li>
    <li>
      <label for="password">Password</label>
      <input type="password" name="user[password]" id="password" />
    </li>
    <li>
      <label for="password_confirmation">Confirm Password</label>
      <input type="password" name="user[password_confirmation]" id="password_confirmation" />
    </li>
  </ul>
  <button type="submit">Sign Up!</button>
</form>
