<section class="splash">
  <header>
    <h1>Plu<span class="t-kern">t</span>o</h1>
    <h2>Keeper of Time</h2>
  </header>
  <content>
    <p>This app is designed to track hours worked in a day, and wether they are remote or onsite, and that's it. No extra bells or whistles.</p>
    <div class="actions">
      {{#link-to 'sign-up'}}{{svg 'clipboard'}} Sign Up{{/link-to}} or {{#link-to 'sign-in'}}{{svg 'account-login'}} Sign in{{/link-to}}
    </div>
  </content>
</section>
