.logs {
  max-width: 76rem;
  background: rgba(255,255,255,.4);
  overflow: hidden;
  margin: 2rem auto;

  header {
    h2 {
      margin: 1rem;
    }
  }

  .export-xls {
    float: right;
    margin: 0 1rem;
    background: rgba(255,255,255,.4);
    border: 0;
    padding: .5rem;
    outline: none;
    svg {
      width: 1rem;
      top: .2rem;
      position: relative;
      margin-right: .16rem;
      use {
        fill: #fff;
      }
    }
    &:hover {
      background: rgba(255,255,255,.5);
    }
  }

  .date-selector {
    @extend %date-selector;
    margin: 0 1rem;
  }

  .table-wrapper {
    margin: 0 1rem 1rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      tr {
        background: rgba(255,255,255,.4);
        th {
          padding: .5rem;
          text-align: left;
          &:last-of-type {
            width: 5.15rem;
          }
        }
      }
    }
    tbody {
      tr {
        background: rgba(255,255,255,.1);
        &:nth-child(even) {
          background: rgba(255,255,255,.3);
        }
        td {
          padding: .3rem .5rem;
          &:last-of-type {
            width: 5.15rem;
            text-align: left;
          }
          &.onsite {
            background: rgb(200,206,213);
            color: #333;
          }
          &.offsite {
            background: rgb(69,78,89);
            color: #fff;
          }
        }
      }
    }
  }
}
