.full-height {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .full-height {
    flex: 1
  }
}

.small-header {
  margin: 0;
  background: rgba(0,0,0,.35);
  overflow: hidden;
  position: relative;

  h1 {
    display: inline-block;
    margin: 1rem;
    a {
      color: #fff;
      &:hover {
        color: #ddd;
      }
    }
  }

  .header-actions {
    position: absolute;
    padding: 1.25rem;
    top: 0;
    right: 0;

    button, a {
      @extend %button;
      display: inline-block;
      background: none;
      border: 0;
      margin: 0 1rem 0 0;
      padding: 0;
      span {
        display: none;
      }
      svg {
        display: block;
        height: 2rem;
        width: 2rem;
        use {
          fill: #fff;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: none;
        svg {
          use {
            fill: #ddd;
          }
        }
      }
    }
    a {
      svg {
        position: relative;
        top: .16rem;
      }
      &.list {
        margin-right: 1.75rem;
      }
      &.entry-form {
        margin-right: 1.75rem;
        svg {
          top: 0;
        }
      }
      &.document {
        svg {
          top: 0;
          position: relative;
        }
      }
    }
  }
}

%date-selector {
  display: inline-block;
  background: rgba(255,255,255,.4);
  .button {
    @extend %button;
    border-bottom: 0;
    background: 0;
    color: #fff;
    outline: none;
    padding: .5rem;
    svg {
      top: .1rem;
      use {
        fill: #fff;
      }
    }
    &.start {
      padding-left: .6rem;
    }
    &.end {
      padding-right: .6rem;
    }
    &:hover {
      background: rgba(255,255,255,.2);
    }
  }
  .picker__input {
    display: none;
  }
}
