.splash {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 1.5rem;

  header {
    margin: 0;
    text-align: center;
    h1 {
      font-family: 'Didot 64 A', 'Didot 64 B';
      font-size: 4rem;
      margin: 0;
      letter-spacing: normal;
      .t-kern {
        margin-left: .35rem;
      }
    }
    h2 {
      margin: 0;
      font-weight: 200;
    }
  }

  content {
    p {
      margin: 3rem 1.5rem 2.2rem;
      text-align: justify;
    }
    .actions {
      text-align: center;
      a {
        @extend %button;
      }
    }
  }
}
