@import 'normalize-css';
@import 'typography';
@import 'body';
@import 'forms';
@import 'buttons';
@import 'pickadate/lib/themes/default.scss';
@import 'pickadate/lib/themes/default.date.scss';

.full-height {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  min-height: 100%;
}

.splash {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 1.5rem;

  header {
    margin: 0;
    text-align: center;
    h1 {
      font-family: 'Didot 64 A', 'Didot 64 B';
      font-size: 4rem;
      margin: 0;
      letter-spacing: normal;
      .t-kern {
        margin-left: .35rem;
      }
    }
    h2 {
      margin: 0;
    }
  }

  content {
    p {
      margin: 3rem 1.5rem 2.2rem;
      text-align: justify;
    }
    .actions {
      text-align: center;
      a {
        @extend button;
      }
    }
  }
}


.small-header {
  margin: 0;
  background: rgba(0,0,0,.35);
  overflow: hidden;
  position: relative;

  h1 {
    display: inline-block;
    margin: 1rem;
    a {
      color: #fff;
      &:hover {
        color: #ddd;
      }
    }
  }

  .header-actions {
    position: absolute;
    padding: 1.25rem;
    top: 0;
    right: 0;

    button, a {
      display: inline-block;
      background: none;
      border: 0;
      margin: 0 1rem 0 0;
      padding: 0;
      span {
        display: none;
      }
      svg {
        display: block;
        height: 2rem;
        width: 2rem;
        use {
          fill: #fff;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        svg {
          use {
            fill: #ddd;
          }
        }
      }
    }
    a {
      svg {
        position: relative;
        top: .16rem;
      }
      &.document {
        svg {
          top: 0;
          position: relative;
        }
      }
    }
  }
}

#signin-form {
  @extend %account-form;
}

#signup-form {
  @extend %account-form;
  label[for=password_confirmation] {
    font-size: .7rem;
    padding: .65rem .5rem;
    position: relative;
    top: -.1rem;
  }
}

.entry-form {
  background: rgba(255,255,255,.4);
  max-width: 25rem;
  margin: 2rem auto;
  padding: 2rem;
  ul {
    display: block;
    padding: 0;
    margin: 0;
    li {
      display: block;
    }
  }
  input {
    color: #000;
    outline: none;
  }
  .date-toggle {
    label {
      background: rgba(255,255,255,.2);
      padding: .41rem .5rem;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #555;
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label {
        background: rgba(255,255,255,.4);
        &:not([for="selected-date"]) {
          cursor: default;
        }
        &:hover {
          color: #fff;
          svg {
            use {
              fill: #fff;
            }
          }
        }
      }
    }
  }
  label[for=selected-date] {
    svg {
      width: 1rem;
      position: relative;
      top: .1rem;
      use {
        fill: #fff;
      }
    }
    &:hover {
      svg {
        use {
          fill: #555;
        }
      }
    }
  }

  .picker__input {
    display: none;
  }

  .time {
    padding: 1rem;
    background: rgba(255,255,255,.4);
    input[type=text] {
      width: 100%;
      box-sizing: border-box;
      font-size: 4rem;
      font-weight: 400;
      text-align: center;
      padding: .5rem;
    }
  }

  .location-toggle {
    overflow: hidden;
    label {
      background: rgba(255,255,255,.2);
      cursor: pointer;
      display: block;
      float: left;
      width: 50%;
      text-align: center;
      line-height: 2.1;
    }
    input[type=radio] {
      display: none;
      &:checked + label {
        background: rgba(255,255,255,.4);
        cursor: default;
      }
    }
  }

  label.error {
    background: rgba(255,0,0,.4);
    display: block;
    padding: .5rem
  }

  [type=submit] {
    box-sizing: border-box;
    padding: 0;
    border-bottom-width: .5rem;
    display: block;
    width: 100%;
    line-height: 2.1;
    font-weight: 400;
    color: #555;
    padding: .5rem 0 .3rem;
    font-size: 1.25rem;
    margin-top: 2rem;
    outline: none;
  }
}

.log-notice {
  opacity: 0;
  transform: translateY(100%);
  max-width: 25rem;
  text-align: center;
  background: #60ca68;
  padding: 1rem 2rem;
  margin: 1rem auto;
}

.percentage {
  background: rgba(255,255,255,.4);
  margin: 2rem;
  float: left;
  width: 100%;
  height: 80vh;
  max-width: 40rem;
  header {
    overflow: hidden;
    position: relative;
    h2 {
      margin: 1rem;
      font-weight: 300;
    }
    ul {
      position: absolute;
      top: .9rem;
      right: .25rem;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        white-space: nowrap;
        &:not(:first-child) {
          padding-right: 1.15rem;
          margin-left: 1.5rem;
        }
        svg {
          display: inline;
          max-width: 1rem;
          max-height: 1rem;
          position: relative;
          top: .1rem;
          left: .25rem;
          use { fill: #159de4; }
        }
        &:last-child {
          svg use { fill: #c6ebfe; }
        }
        span {
          display: block;
          font-size: .75rem;
        }
      }
    }
  }
  .date-selector {
    display: inline-block;
    background: rgba(255,255,255,.4);
    button {
      border-bottom: 0;
      background: 0;
      color: #fff;
      outline: none;
      padding: .5rem;
      svg {
        top: .1rem;
        use {
          fill: #fff;
        }
      }
      &.start {
        padding-left: .6rem;
      }
      &.end {
        padding-right: .6rem;
      }
      &:hover {
        background: rgba(255,255,255,.2);
      }
    }
    .picker__input {
      display: none;
    }
  }
}

#standard-report {
  display: block;
  padding: 2rem;
  background: rgba(255,255,255,.4);
  width: 100%;
  height: auto;
}
