@import 'normalize-css';
@import 'body';
@import 'typography';
@import 'forms';
@import 'buttons';

.application {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 100%;
  min-height: 100%;
}

.splash {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 30rem;
  margin: 0 auto;
  padding: 0 0 1.5rem;

  header {
    margin: 0;
    text-align: center;
    h1 {
      font-family: 'Didot 64 A', 'Didot 64 B';
      font-size: 4rem;
      margin: 0;
      letter-spacing: normal;
      .t-kern {
        margin-left: .35rem;
      }
    }
    h2 {
      margin: 0;
    }
  }

  content {
    p {
      margin: 3rem 1.5rem 2.2rem;
      text-align: justify;
    }
    .actions {
      text-align: center;
      a {
        @extend button;
      }
    }
  }
}


.small-header {
  margin: 0;
  background: rgba(0,0,0,.35);
  overflow: hidden;
  position: relative;
  h1 {
    display: inline-block;
    margin: 1rem;
    a {
      color: #fff;
      &:hover {
        color: #ddd;
      }
    }
  }
  .header-actions {
    position: absolute;
    top: 0;
    right: 0;
    button {
      display: block;
      background: none;
      border: 0;
      margin: 1rem;
      svg {
        display: block;
        height: 2rem;
        width: 2rem;
        use {
          fill: #fff;
        }
      }
    }
    .signout {
      span {
        display: none;
      }
    }
  }
}

#signin-form {
  @extend %account-form;
}

#signup-form {
  @extend %account-form;
  label[for=password_confirmation] {
    font-size: .7rem;
    padding: .65rem .5rem;
    position: relative;
    top: -.1rem;
  }
}

.entry-form {
  background: rgba(255,255,255,.4);
  max-width: 25rem;
  margin: 2rem auto;
  padding: 2rem;
  ul {
    display: block;
    padding: 0;
    li {
      display: block;
    }
  }
  input {
    color: #000;
    outline: none;
  }
  .date-toggle {
    label {
      background: rgba(255,255,255,.2);
      padding: .25rem .4rem;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #555;
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label {
        background: rgba(255,255,255,.4);
        cursor: default;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  label[for=selected-date] {
    svg {
      width: 1rem;
      position: relative;
      top: .1rem;
      use {
        fill: #fff;
      }
    }
    &:hover {
      svg {
        use {
          fill: #555;
        }
      }
    }
  }
  .time {
    padding: 1rem;
    background: rgba(255,255,255,.4);
  }
  input[name=time] {
    width: 100%;
    box-sizing: border-box;
  }
}
